<a href="https://colab.research.google.com/github/luis-miguel-sousa/page01/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'name': ['Ana', 'Bill', 'Calvin', 'Dea', 'Elias'],
    'fruits': ['mango|orange|pear|nectarine|banana', 'orange|peach', 'pear|mango', 'mango|apple', 'nectarine|pear|mango']
})

In [ ]:
pd.json_normalize(df.assign(fruits=lambda df: df['fruits'].str.split('|')).fruits)

    0   1     2     3     4
0  {}  {}    {}    {}    {}
1  {}  {}  None  None  None
2  {}  {}  None  None  None
3  {}  {}  None  None  None
4  {}  {}    {}  None  None

In [ ]:
pd.json_normalize(df.assign(fruits=lambda df: df['fruits'].str.split('|').map(lambda x: [{'fruit': y} for y in x])).fruits).applymap(lambda x: 0 if x is None else 1)

   0  1  2  3  4
0  1  1  1  1  1
1  1  1  0  0  0
2  1  1  0  0  0
3  1  1  0  0  0
4  1  1  1  0  0

In [ ]:
pd.json_normalize(df['fruits'].str.split('|'))

    0   1     2     3     4
0  {}  {}    {}    {}    {}
1  {}  {}  None  None  None
2  {}  {}  None  None  None
3  {}  {}  None  None  None
4  {}  {}    {}  None  None

In [ ]:
df.set_index('name')['fruits'].str.get_dummies(sep="|")

        apple  banana  mango  nectarine  orange  peach  pear
name
Ana         0       1      1          1       1      0     1
Bill        0       0      0          0       1      1     0
Calvin      0       0      1          0       0      0     1
Dea         1       0      1          0       0      0     0
Elias       0       0      1          1       0      0     1

In [ ]:
pd.DataFrame(df.set_index('name').fruits.str.split('|').explode()).assign(n=1).pivot_table(columns='fruits', index='name', fill_value=0)

           n
fruits apple banana mango nectarine orange peach pear
name
Ana        0      1     1         1      1     0    1
Bill       0      0     0         0      1     1    0
Calvin     0      0     1         0      0     0    1
Dea        1      0     1         0      0     0    0
Elias      0      0     1         1      0     0    1

In [ ]:
pd.json_normalize(df.fruits.map(lambda x: {y: 1 for y in x.split('|')})).set_index(df.name).fillna(0).astype(int)

        mango  orange  pear  nectarine  banana  peach  apple
name
Ana         1       1     1          1       1      0      0
Bill        0       1     0          0       0      1      0
Calvin      1       0     1          0       0      0      0
Dea         1       0     0          0       0      0      1
Elias       1       0     1          1       0      0      0

In [ ]:
pd.json_normalize(df.fruits.map(lambda x: {y: 1 for y in x.split('|')})).set_index(df.name).fillna(0).astype(int)

        mango  orange  pear  nectarine  banana  peach  apple
name
Ana         1       1     1          1       1      0      0
Bill        0       1     0          0       0      1      0
Calvin      1       0     1          0       0      0      0
Dea         1       0     0          0       0      0      1
Elias       1       0     1          1       0      0      0